#Auth.Auth {
  width: 30%;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 16px;
  h2 {
    text-align: center;
  }
  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    img {
      height: 60px;
      border-radius: 9999px;
    }
  }

  form {
    display: grid;
    padding: 10px;
    gap: 10px;
    label {
      font-weight: 700;
    }
    input {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border-radius: 4px;
      border: 1px solid rgb(226, 226, 226);
      outline-color: #3b66fe;
    }
    .change {
      display: flex;
      align-items: center;
      .toggle {
        padding: 6px;
        margin-left: 2px;
        border: 1px solid transparent;
        cursor: pointer;
        border-radius: 4px;
        &:hover {
          background: #0575e6;
          color: white;
        }
      }
    }
    .submit-btn {
      background-image: linear-gradient(
        to right,
        #0575e6 0%,
        #021b79 51%,
        #0575e6 100%
      );
      padding: 10px 45px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      box-shadow: 0 0 20px #eee;
      border-radius: 10px;
      display: block;
      border: transparent;
      &:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 601px) {
  #Auth.Auth{
   width: 100%;
  }

}
